/*--------- start events Area -------------*/
.event-area .header-text {
    text-align: center
}

.event-area .header-text h1 {
    margin-bottom: 25px
}

.single-events {
    margin-bottom: 50px
}

.single-events .image:after {
    content: "20 Dec";
    display: block;
    height: 40px;
    background-color: #222;
    text-align: center;
    color: #fff;
    width: 70px;
    padding: 12px;
    height: 70px;
    position: absolute;
    top: 0
}

.single-events .details {
    margin-left: 30px
}

.single-events .details h4 {
    font-size: 20px;
    margin-bottom: 20px;
    line-height: 25px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s
}

.single-events .details h4:hover {
    cursor: pointer
}

.single-events .details .meta .likes,
.single-events .details .meta .lnr {
    margin-right: 10px
}

@media (max-width: 1024px) {
    .single-events img {
        width: 180px
    }
    .single-events .details h4 {
        font-size: 18px
    }
}

@media (max-width: 991px) {
    .single-events .details {
        margin-top: 20px;
        margin-left: 0px
    }
}

/*--------- End events Area -------------*/

/*--------- Start Carousel Events Area -------------*/

.event-area #carousel-event{
    height: 70vh;
    width: 100%;
    margin-bottom: 40px;
}

.event-area #carousel-event .carousel-inner{
    height: 100%;
}
.event-area #carousel-event .carousel-inner img{
    width: 100%;
}

/*--------- End Carousel Events Area -------------*/

/*--------- Start Activities -----------*/
.event-area .single-activity {
    background-color: #d3d3d3;
    padding-top: 12px;
    margin-top: 10px;
    color: #222;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.event-area .single-activity:hover{
    background: -moz-linear-gradient( 0deg, rgb(202,45,255) 0%, rgb(142,150,248) 55%, rgb(82,255,241) 100%);
    background: -webkit-linear-gradient( 0deg, rgb(202,45,255) 0%, rgb(142,150,248) 55%, rgb(82,255,241) 100%);
    background: -ms-linear-gradient( 0deg, rgb(202,45,255) 0%, rgb(142,150,248) 55%, rgb(82,255,241) 100%);
}

.event-area .single-activity:hover p{
    color: #fff;
    cursor: pointer
}

.event-area .single-activity p {
    font-size: 14px;
    color: #222;
    font-weight: 600
}

.event-area .single-activity .lnr {
    margin-right: 20px
}

@media (max-width: 768px) {
    .event-area .single-activity .lnr {
        margin-right: 0px
    }
}