<!DOCTYPE html>
<html>
  <head>
    <title>Código Frida</title>
    <link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/css/landing-page/index.css">
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    <section class="headerLandingPage general colorFilter">
      <h1 class="display-2 txtShadow mb-5">Código Frida</h1>
      <p class="lead d-flex justify-content-center">
        <a href="<%= baseUrl %>/fridas/registro" class="btn btn-light px-3 mx-3">Registrarme</a>
        <a href="<%= baseUrl %>/fridas/inicio-sesion" class="btn btn-primary px-3 mx-3">Iniciar sesión</a>
      </p>
    </section>

    <section class="introduction text-justify">
      <div class="container">
        <div class="row py-5">
          <h2 class="titleHeading mb-4">¿Qúe es <i>Código Frida</i>?</h2>
          <div class="col-12 row">
            <div class="col-sm-6 mb-4">
              Hablar de tecnología es abrir posibilidades y brechas. En torno a éstas últimas, son cada vez más los estudios que incitan a la reflexión de la brecha digital de género como un problema que trasciende al acceso, uso de las TIC o desarrollo de habilidades tecnológicas. Es considerar que estamos frente a un fenómeno de incipiente representatividad femenina en sectores clave para el empoderamiento tecnológico y en consecuencia enfatizar preguntas que detonen factores explicativos
            </div>
            <div class="col-sm-6 mb-4">
                ¿Por qué pese a que las cifras de mujeres en TIC (al menos en países occidentalizados) son cada vez más parecidas a las de los varones hay pocas mujeres participando en carreras universitarias tecnológicas?¿Cuál es la razón de que sea anómica la presencia de mujeres en procesos de innovación o desarrollo tecnológico? ¿Por qué las tecnologías poseen una asociación social y cultural con lo masculino?
            </div>
            <div class="col-sm-12">
                Es a partir de estas interrogantes y como iniciativa que desde 2015 surge en el estado de Colima Código Frida, un programa formativo que procura la inclusión de mujeres jóvenes en las áreas de Ciencia, Tecnología, Ingeniería y Matemáticas (STEM, por sus siglas en inglés), a través del diseño de aplicaciones móviles que resuelvan una problemática de índole social.
            </div>
          </div>
        </div>  
      </div>
    </section>
    
    <section class="pillars text-center">
      <div class="container">
        <div class="row py-5">
          <h2 class="titleHeading mb-4">Código Frida posee cuatro pilares:</h2>
          <div class="col-12 row">
            <div class="col-12 col-sm-6 mb-4">
              <img class="rounded-circle pillarImg" src="img/landingPage/pilar1.jpg" alt="Pilares de Código Frida" width="140" height="140">
              <h3 class="my-3">Proactividad social</h3>
              <p>A través del reconocimiento de la tecnología como una plataforma que coadyuva en la resolución de fracturas y problemáticas sociales</p>
            </div>
            <div class="col-12 col-sm-6 mb-4">
              <img class="rounded-circle pillarImg" src="img/landingPage/pilar2.jpg" alt="Pilares de Código Frida" width="140" height="140">
              <h3 class="my-3">Sororidad</h3>
              <p>Valoración de las capacidades propias por medio de la relación entre pares. Mujeres líderes respaldando el desarrollo de las generaciones femeninas nacientes</p>
            </div>
            <div class="col-12 col-sm-6 mb-4">
              <img class="rounded-circle pillarImg" src="img/landingPage/pilar3.jpg" alt="Pilares de Código Frida" width="140" height="140">
              <h3 class="my-3">Empoderamiento tecnológico</h3>
              <p>La tecnología como una aliada estratégica en el desarrollo de habilidades o competencias en torno a lo digital</p>
            </div>
            <div class="col-12 col-sm-6">
              <img class="rounded-circle pillarImg" src="img/landingPage/pilar4.jpg" alt="Pilares de Código Frida" width="140" height="140">
              <h3 class="my-3">Innovación</h3>
              <p>Procesos de reflexión colectiva, que facilitan la ideación, creación y materialización de alternativas novedosas</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="container my-5">
        <div class="row">
          <div class="col-md-7">
            <h2 class="emphasis mb-4">¡Atrévete! <span class="emphasisColor">Sé parte de  este gran paso</span></h2>
            <p class="lead text-justify">Código Frida es una comunidad conformada por expertos en tecnología, mentores y voluntarios que buscan generar un movimiento expansivo que inspire a mujeres jóvenes a deshilvanar estereotipos o romper techos de cristal. Un movimiento que reconocer que el futuro requiere del impulso femenino y también tecnológico, ¡súmate al programa!</p>
          </div>
          <div class="col-md-5">
            <img class="img-fluid mx-auto" src="img/logo.png" alt="Código Frida">
          </div>
        </div>
      </div>
    </section>
    
  </body>
</html>
