<section class="headerLandingPage">
    <div class="colorFilter">
        <h1>
            Sé un Líder
        </h1>
    </div>
</section>
<section class="roleDescription">
    <p>
        Si tienes experiencia en coordinación,logística y administración de proyectos
    </p>
    <h4 class="pb-2">
         ¡Te Necesitamos!
    </h4>
    <p>
        Tu labor es lograr que los mentores y Fridas lleguen a la producción de su app en 08 semanas. Impulsar, reconocer sus avances, fomentar el trabajo colaborativo serán parte de tu misión.
    </p>
    <p>
         Un líder F les recuerda a cada una de las Fridas que la ciencia y la tecnología no poseen género. Un líder F cataliza el tejido social y acerca al imaginario femenino el ejercicio de las TIC como una propuesta asequible, prometedora y divertida.
    </p>

</section>
