<header>
    <nav class="navbar navbar-expand-sm navbar-light bg-light">
        <a class="navbar-brand" href="#">
            <img src="/img/logo.png" width="40" height="40" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li data-section="mis-equipos" class="nav-item">
                    <a class="nav-link" href="<%= baseUrl %>/mentores/mis-equipos">Mis equipos</a>
                </li>
                <li data-section="contenido-adicional" class="nav-item">
                    <a class="nav-link" href="<%= baseUrl %>/mentores/contenido-adicional">Contenido adicional</a>
                </li>
            </ul>
            <div class="dropdown">
                <button class="btn btn-sm btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Opciones
                </button>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="<%= baseUrl %>/mentores/mi-perfil">Mi perfil</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Cerrar sesión</a>
                </div>
            </div>
        </div>
    </nav>
</header>