.video
{
  border-radius: 15px, 15px, 15px, 15px;
}
#cardList {

  width: 650px;

}
div[cl^="card"] {
  height: 100px;
  width: 200px;
  margin: 5px;
  display: inline-block;
}

div.cardBlack {
  background-color: white;
  color: white;
  font-weight: bold;
  font-size: 35pt;
  text-align: center;
  cursor: default;
  -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select:none;
}

div.card1{
  color: white;
  font-weight: bold;
  font-size: 35pt;
  text-align: center;
}

div.card2 {
  color: white;
  font-weight: bold;
  font-size: 35pt;
  text-align: center;
}

div.card3  {
  color: white;
  font-weight: bold;
  font-size: 35pt;
  text-align: center;
}
