.main-image img {
    object-fit: cover;
}
.section {
    background-color: #fff;
    padding: 20px 10%;
    width: 100%;
}
.section:nth-of-type(even) {
    background-color: #eee;
}

.section-inner {
    max-width: 1000px;
    position: relative;
    width: 100%;
}

.section-inner .carousel-nav {
    cursor: pointer;
    padding: 5px 10px;
    position: absolute;
    top: calc(50% - 15px);
    z-index: 1;
}

.section-inner .carousel-nav.left {
    left: -25px;
}

.section-inner .carousel-nav.right {
    right: -25px;
}

.section-inner .section-header {
    margin-bottom: 15px;
    padding: 0 20px;
}

.section-inner .section-header h2 {
    font-size: 22px;
    font-weight: 900;
}

.section-inner figure {
    padding: 0 15px 20px 15px;
}

.section-inner figure .figure-inner {
    width: 100%;
    position: relative;
}

.section-inner figure .figure-large {
    padding: 130% 0 0;
}

.section-inner figure .figure-inner::after {
    background-image: linear-gradient(180deg, transparent, #000);
    bottom: 0;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    content: "";
    height: 70%;
    opacity: .8;
    position: absolute;
    right: 0;
    transition: opacity .4s;
    width: 100%;
}

.section-inner figure .figure-inner img {
    border-radius: 3px;
    width: 100%;
}

.section-inner figure .figure-large img {
    height: 100%;
    position: absolute;
    top: 0;
    object-fit: cover;
}

.section-inner figure .figure-inner .video-icon {
    color: #fff;
    position: absolute;
    right: 15px;
    top: 10px;
}

.section-inner figure .figure-inner figcaption {
    position: absolute;
    bottom: 0;
    color: #fff;
    z-index: 2;
    padding: 0 10px 10px 10px;
    width: 100%;
}

.section-inner figure .figure-inner figcaption.caption-follow {
    width: 100%;
    padding: 20px 0;
    text-align: center;
}

.section-inner figure .figure-inner figcaption .title {
    font-size: 12px;
    font-weight: 900;
}

.section-inner figure .figure-inner figcaption .content {
    font-size: 13px;
    margin-right: 60px;
}

.section-inner figure .figure-inner figcaption .duration {
    bottom: 10px;
    font-size: 10px;
    font-weight: 900;
    letter-spacing: 1px;
    position: absolute;
    right: 15px;
}