@import url('https://fonts.googleapis.com/css?family=Tangerine');
@import url('https://fonts.googleapis.com/css?family=Dorsa');
@import url('https://fonts.googleapis.com/css?family=Raleway');

*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.font-Titulo{
    font-family: 'Dorsa', sans-serif;
    font-size: 70px;
}

header{
    width: 100%;
    height: 400px;
    background: url("../img/fondo.png");
    position: relative;
    z-index: -1;
}

header .nombreCursiva{
    width: 100%;
    height: 100%;
    font-family: 'Tangerine', cursive;
    color: #fff;
    text-align: center;
    padding: 30px 50px;
}

header .nombreCursiva .nombre{
    font-size: 130px;
    margin-bottom: 25px;
}

header .nombreCursiva .apellidos{
    font-size: 180px;
}

header .nombre-profesion{
    width: 100%;
    position: absolute;
    text-align: center;
}

header .nombre{
    font-size: 130px;
    top: 110px;
}

header .profesion{
    font-size: 70px;
    top: 235px;
}

body{
    font-family: 'Raleway', sans-serif;
}

.main{
    z-index: 1000;
}

.main .acerca-de{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

.main .acerca-de .foto{
    margin-top: -90px;
    margin-bottom: 30px;
}

.main .acerca-de .foto img{
	vertical-align: top;
    border-radius: 50%;
    width: 180px;
    border:5px solid rgba(255,255,255,0.5);
}

.main .titulo{
    font-family: 'Dorsa', sans-serif;
    font-size: 50px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, .5);
    padding: 10px 30px;
    margin-bottom: 30px;
    text-align: center;
}

.main .acerca-de .texto{
    height: 100px;
    text-align: center;
}

.main .seccion-datos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.formacion, .logros, .hobbies, .datos-interesantes{
    width: 40%;
    min-height: 800px;
    margin-bottom: 30px;
}

.formacion .datos, .logros .datos{
    width: 100%;
}

.formacion .escolaridad,
.logros .logro{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-bottom: 5px dotted rgba(0,0,0,0.5);
    padding: 20px 0;
}

.formacion .titulo-es, 
.logros .titulo-es{
    font-weight: bold;
    text-align: center;
    font-size: 20px;
    margin-bottom: 20px;
    border:none;
    padding: 0;
}

.formacion .datos .escolaridad .dibujo{
    width: 10%;
}
.formacion .datos .escolaridad .fecha{
    width: 17%;
}

.formacion .datos .escolaridad .grado{
    width: 30%;
}

.formacion .datos .escolaridad .institucion{
    width: 38%;
}

.formacion .datos .escolaridad .dibujo img,
.logros .datos .logro .dibujo img{
    width: 100%;
}


.logros .datos .logro .dibujo{
    width: 15%;
}
.logros .datos .logro .fecha{
    width: 20%;
    margin: auto 0;
}

.logros .datos .logro .info{
    width: 50%;
    margin: auto 0;
}

.hobbies .hobbie, .datos-interesantes .dato-inte{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.hobbies .datos .hobbie .dibujo img,
.datos-interesantes .datos .dato-inte .dibujo img{
    width: 100%;
}

.hobbies .datos .hobbie .dibujo,
.datos-interesantes .datos .dato-inte .dibujo{
    width: 40%;
}

.hobbies .datos .hobbie .info,
.datos-interesantes .datos .dato-inte .info{
    width: 60%;
    margin: auto 0;
    font-size: 20px;
    text-align: center;
}

.datos-interesantes .datos .dato-inte .fa-heart{
    color: #f8a5c2;
    font-size: 20px;
}
.galeria{
    width: 70%;
    margin: 50px 15%;
}

.galeria .fotos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.galeria .fotos .foto{
    width: 45%;
    margin-bottom: 20px;
}

.galeria .fotos .foto img{
    width: 100%;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, .5);
}

footer{
    background: url("../img/fondo.png");
    display: flex;
    flex-wrap: wrap;
    color: #b4b4b4;
}

footer .contacto{
    width: 50%;
    margin: auto;
    padding: 0 10%;
    font-size: 20px;
    font-weight: bold;
}

footer .contacto i{
    margin-right: 20px;
}

footer .contacto .telefono{
    margin-bottom: 30px;
}

footer .redes-sociales{
    width: 50%;
    padding: 60px 0;
}

footer .redes-sociales .contenedor{
	display: flex;
	flex-wrap: wrap;
    justify-content: flex-end;
    vertical-align: middle;
}

footer .redes-sociales a{
    color: #b4b4b4;
	text-align: center;
	width: 100px;
	display: block;
	padding: 15px 0;
	border-radius: 3px;
	font-size: 30px;
	margin: 0 20px;
}

footer .redes-sociales .twitter:hover{ 
    background: #1da1f2;
    color: #fff;
}

footer .redes-sociales .facebook:hover{	
    background: #3b5998;
    color: #fff;
}

footer .redes-sociales .github:hover{ 
    background: #333;
    color: #fff;
}

footer .redes-sociales .instagram:hover{  
    background: radial-gradient(ellipse farthest-corner at 20px 70px,#ffdc80, #fcaf45 10%, #f77737 25%, #f56040 30%, #fd1d1d 40%, #e1306c 50%, #c13584 60%, #833ab4 70%, #5851db 90%, #405de6 98%);
    color: #fff;
}

