<div class="modal fade" id="modalComentarios" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Ejercicio <span id="ejercicioComentarioN">1</span> - Comentarios</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="comentarioN">
          <h6><span id="autorComentarioN">Autor</span> - <span id="fechaComentarioN">24/07/2018</span> <span id="horaComentarioN">20:19</span></h6>
          <p id="textoComentarioN" class="m-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
        <div class="row m-2">
          <input id="textoComentario" type="text"class="form-control" name="" value="">
        </div>
        <div class="m-2 d-flex flex-wrap justify-content-end">
            <button id="btnAgregarComentario" type="button" class="btn btn-primary" name="button">Agregar Comentario</button>
        </div>
      </div>
    </div>
  </div>
</div>
