<main class="container">
  <section>
    <div class="d-flex flex-row flex-wrap justify-content-center">
    	<h1 class="my-4">Mis equipos</h1>
    	
    	<div class="col-12">
    		<div class="row">

    			<div class="col-md-6 mb-4">
    				<div class="card">
    					<div class="card-body">
    						<h4 class="card-title">Equipo 1</h4>
    						<p>Integrante 1</p>
    						<p>Integrante 1</p>
    						<p>Integrante 1</p>
    						<p>Integrante 1</p>

    						<h6 class="card-subtitle mb-3">Avance</h6>
    						<div class="progress">
								  <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
								</div>
    					</div>
    				</div>
    			</div>
    			<div class="col-md-6 mb-4">
    				<div class="card">
    					<div class="card-body">
    						<h4 class="card-title">Equipo 2</h4>
    						<p>Integrante 1</p>
    						<p>Integrante 1</p>
    						<p>Integrante 1</p>
    						<p>Integrante 1</p>

    						<h6 class="card-subtitle mb-3">Avance</h6>
    						<div class="progress">
								  <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
								</div>
    					</div>
    				</div>
    			</div>
    			<div class="col-md-6 mb-4">
    				<div class="card">
    					<div class="card-body">
    						<h4 class="card-title">Equipo 3</h4>
    						<p>Integrante 1</p>
    						<p>Integrante 1</p>
    						<p>Integrante 1</p>
    						<p>Integrante 1</p>

    						<h6 class="card-subtitle mb-3">Avance</h6>
    						<div class="progress">
								  <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
								</div>
    					</div>
    				</div>
    			</div>
    			<div class="col-md-6 mb-4">
    				<div class="card">
    					<div class="card-body">
    						<h4 class="card-title">Equipo 4</h4>
    						<p>Integrante 1</p>
    						<p>Integrante 1</p>
    						<p>Integrante 1</p>
    						<p>Integrante 1</p>

    						<h6 class="card-subtitle mb-3">Avance</h6>
    						<div class="progress">
								  <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
								</div>
    					</div>
    				</div>
    			</div>
    			<div class="col-md-6 mb-4">
    				<div class="card">
    					<div class="card-body">
    						<h4 class="card-title">Equipo 5</h4>
    						<p>Integrante 1</p>
    						<p>Integrante 1</p>
    						<p>Integrante 1</p>
    						<p>Integrante 1</p>

    						<h6 class="card-subtitle mb-3">Avance</h6>
    						<div class="progress">
								  <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
								</div>
    					</div>
    				</div>
    			</div>
    			<div class="col-md-6 mb-4">
    				<div class="card">
    					<div class="card-body">
    						<h4 class="card-title">Equipo 6</h4>
    						<p>Integrante 1</p>
    						<p>Integrante 1</p>
    						<p>Integrante 1</p>
    						<p>Integrante 1</p>

    						<h6 class="card-subtitle mb-3">Avance</h6>
    						<div class="progress">
								  <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
								</div>
    					</div>
    				</div>
    			</div>

    		</div>
    	</div>

    </div>
  </section>
</main>