<main class="container">
  <section>
    <div class="d-flex flex-row flex-wrap justify-content-center">



		<ul class="nav nav-tabs" id="lideresEquipos" role="tablist">
		  <li class="nav-item">
		    <a class="nav-link active" id="equipos-tab" data-toggle="tab" href="#equipos" role="tab" aria-controls="equipos" aria-selected="true">Equipos</a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link" id="fridas-tab" data-toggle="tab" href="#fridas" role="tab" aria-controls="fridas" aria-selected="false">Fridas</a>
		  </li>
		</ul>

		<div class="tab-content" id="lideresEquiposContenido">
		  <div class="tab-pane fade show active" id="equipos" role="tabpanel" aria-labelledby="equipos-tab">
	    	<h1 class="my-4">Equipos</h1>

	    	<div class="col-12">
	    		<div id="divEquipos" class="row">
	    		</div>
	    	</div>
			</div>

		  <div class="tab-pane fade" id="fridas" role="tabpanel" aria-labelledby="fridas-tab">
	    	<h1 class="my-4">Fridas</h1>

		  	<div class="col-12">
					<div class="card border-info mb-3">
					  <div class="card-body">
					    <div class="row" id="divFridas">



					    </div>
					  </div>
					</div>
				</div>
		  </div>
		</div>




    </div>
  </section>
</main>
