<section class="headerLandingPage">
    <div class="colorFilter">
        <h1>
            Sé una Frida
        </h1>
    </div>
</section>
<section class="roleDescription">
    <p>
        Si tienes entre 12 y 18 años. Cursas actualmente secundaria, preparatoria o bachillerato. 
        Si disfrutas trabajar en equipo y te gustaría aprender sobre desarrollo de aplicaciones móviles, entonces, puedes ser una Frida. 
    </p>
    <h4 class="pb-2">
        Sólo necesitas registrarte y ¡listo, eres una Frida! 
    </h4>
    <p>
        Una vez registrada podrás conformar un equipo de hasta 5 miembros. 
        En 08 semanas, de la mano de tu mentor y líder F, aprenderás los fundamentos de programación que te permitirán desarrollar una app que impacte de manera positiva al entorno. 
    </p>
    <p>
        Sé parte del programa tecnológico más importante del estado. 
        Sé una mujer que abone a reducir la brecha de género en el ámbito tecnológico. 
        Sé parte activa del desarrollo social. Sé una Frida y crea un código propio.
    </p>
</section>