*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 14px;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    background-color: rgb(243,243,243);
}

h1{
    font-size: 2em;
}