<main>
  <div class="container">
    <div class="row">
      <div class="col">
        <h1>Contenido Adicional</h1>
      </div>
    </div>
    <section id="contenedorContenidos">
    </section>
  </div>
</main>
<template id="plantillaContenido">
  <div class="contenido container my-3 p-3">
    <div class="row no-gutters m-2">
      <h2>Contenido <span class="numeroContenido"></span></h2>
      <div class="col-12 my-2">
        <p class="descripcion"></p>
        <div class="contenedorBtns row mx-0">
        </div>
      </div>
    </div>
  </div>
</template>
<template id="plantillaBtnMaterial">
  <div>
    <a href="#" download="" class="btn btn-primary btnMaterial mb-2">
      <i class="fas fa-file-download"></i>
      <span class="nombreArchivo"></span>
    </a>
  </div>
</template>