nav.navbar{
    background-color: #f6bd60 !important;
}

body{
    background-color: #f7ede2;
    
}

h2{
    color: #f28482;
}

.gallery h2{
    color: #f7ede2;
}

.services{
    width: 80%;
    margin: 0 auto;
}

.services .service-wrap{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.services .service-wrap .service{
    width: 30%;
    padding: 10px;
    margin: 10px;
}

.services .service-wrap .service img{
    width: 50%;
}

.services .service-wrap .service .texts{
    margin-top: 10px;
}

.services .service-wrap .service .texts .title{
    font-weight: 700;
}

.rooms{
    width: 60%;
    margin: 0 auto;
}

.rooms .room{
    width: 100%;
    padding: 30px 30px 15px 30px;
    margin: 20px;
    background-color: #fff;
}

.rooms .room .image-container, 
.rooms .room .texts{
    width: 100%;
}

.rooms .room .image-container img{
    width: 100%;
}

.rooms .room .texts{
    text-align: left;
}

.rooms .room .texts .title{
    font-weight: 700;
    margin-top: 10px;
}

.rooms .room .texts .price{
    text-align: right;
}

.gallery{
    width: 100%;
    padding: 20px;
    margin-top: 30px;
    background-color: #f5cac3;
}

.gallery .pictures{
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.gallery .pictures .picture{
    width: 23%;
    margin: 10px;
	padding: 5px; /*Para que se vea bien el borde*/
	border: 1px solid #484848;
    opacity: 0.5;
    transition: all 0.3s ease;
}

.gallery .pictures .picture:hover{
    border: 1px solid #fff;
    opacity: 1;
}

.gallery .pictures .picture img{
    width: 100%;
}