<main class="container">
  <section>
    <div class="d-flex flex-row flex-wrap justify-content-center">
			<h2 class="mb-4">Módulos</h2>
    	<div class="col-12">
    		<div class="row" id="divModulos">
    		</div>
    	</div>
    </div>
  </section>
</main>